.login{
    background-image: url('../../img/img3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
}